# --- Node dependencies ---
node_modules/

# --- Native directories (managed by Expo) ---
/ios
/android

# --- Expo specific ---
.expo/
.expo-shared/
.expo/*
dist/
web-build/



# --- Credentials & keys ---
*.jks
*.keystore
*.p8
*.p12
*.key
*.mobileprovision
*.pem

# --- Metro bundler ---
.metro-cache/
.metro-health-check*

# --- Debug logs ---
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# --- Environment files ---
.env
.env.*
.env*.local

# --- TypeScript ---
*.tsbuildinfo

# --- VSCode ---
.vscode/

# --- Optional ---
README-OLD.md
*.orig.*
*.md
